<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='image/favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Confirmacao</title>
</head>
<body>
    <h1>Sua Ocorrência foi registrada</h1>
    <p>Ocorrência: {{ocorrencia}}</p>
    <p>Detalhes: {{detalhes}}</p>
    <p>Gravidade: {{gravidade}}</p>
    <p>Local: {{local}}</p>
    <p>Data: {{data}}</p>
    <p>Hora: {{hora}}</p>

    <button><a href="{{ url_for('app.home') }}">Voltar para a página inicial</a></button>
</body>
</html>
