<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 18px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            margin-top: 10px;
            cursor: pointer;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    </style>
    <title>Confirmacao</title>
</head>
<body>
    <h1>Sua Ocorrência foi registrada</h1>
    <p>Ocorrência: {{ocorrencia}}</p>
    <p>Detalhes: {{detalhes}}</p>
    <p>Local: {{local}}</p>

    <button><a href="{{ url_for('app.home') }}">Voltar para a página inicial</a></button>
</body>
</html>